<h3>Mailbox Settings
  <small class="text-muted">for {{mailbox}}</small>
</h3>

<div class="row icons">
  <a class="icons" (click)="goBack()" title="Go back to list">
    <img src="assets/left-arrow.svg">
  </a>
</div>

<h4>Aliases configured for this mailbox</h4>
<div class="spinner-border" role="status" *ngIf="aliasesLoading">
  <span class="sr-only">Loading...</span>
</div>
<div *ngIf="!aliasesLoading">

  <table id="alias-list" class="table table-sm table-hover" *ngIf="aliasList.size">
    <thead class="thead-light">
      <tr>
        <th style="width: 80%;" class="d-none d-sm-table-cell">Alias name</th>
        <th style="width: 20%;" class="d-none d-sm-table-cell">Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-alias [ngForOf]="aliasList">
        <tr>
          <td>{{alias}}</td>
          <td class="">
            <button class="btn btn-outline-danger"
              type="button"
              (click)="removeAlias(alias)"
              >
              Delete
            </button>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>

  <p *ngIf="!aliasList.size">No aliases configured</p>

  <div class="input-group mb-3" [formGroup]="mailboxForm">
    <input #aliasInput class="form-control" type="text" placeholder="New mailbox to set as alias" aria-label="Search" formControlName="mailbox">
    <div class="input-group-prepend" *ngIf="mailboxForm.controls.mailbox?.errors?.maxlength">
      <span class="input-group-text">
        max 30 characters!
      </span>
    </div>
    <div class="input-group-prepend" *ngIf="mailboxForm.controls.mailbox?.errors?.pattern">
      <span class="input-group-text">
        invalid characters!
      </span>
    </div>
    <div class="input-group-append" id="button-addon4">
      <button class="btn btn-outline-primary"
      type="button"
      (click)="addAlias(aliasInput.value)"
      [disabled]="mailboxForm.invalid"
      >
      Set
      </button>
    </div>
  </div>

  <div id="error" class="alert alert-danger" role="alert" *ngIf="aliasError">
    Error during alias operation!
  </div>

  <div *ngIf="deleteLog.length">
    <h5>Alias deletion log</h5>
    <ol>
        <ng-template ngFor let-log [ngForOf]="deleteLog">
          <li>
            {{log}}
          </li>
        </ng-template>
    </ol>
  </div>

</div>

<h4>Recent visitors of this mailbox</h4>
<p>Note that the times are in your local time zone and are only accurate to the hour.</p>
<table id="visitor-list" class="table" *ngIf="visitorList?.length">
  <thead class="thead-light">
    <tr>
      <th style="width: 30%;" class="d-none d-sm-table-cell">Date</th>
      <th style="width: 20%;" class="d-none d-sm-table-cell">IP</th>
      <th style="width: 50%;">User Agent</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-visitor [ngForOf]="visitorList">
      <tr>
        <td class="d-none d-sm-table-cell">{{visitor.timeStamp | date:"yyyy-MM-dd HH:mm:ss"}}</td>
        <td class="d-none d-sm-table-cell"><a rel="nofollow" href="https://whatismyipaddress.com/ip/{{visitor.ip}}">{{visitor.ip}}</a></td>
        <td>{{visitor.userAgent}}</td>
      </tr>
    </ng-template>
  </tbody>
</table>
