<h3>Mailbox Settings
  <small class="text-muted">for {{mailbox}}</small>
</h3>

<div class="row icons">
  <a class="icons" (click)="goBack()" title="Go back to list">
    <img src="assets/left-arrow.svg">
  </a>
</div>

<h4>Alias settings</h4>
<div class="spinner-border" role="status" *ngIf="aliasesLoading">
  <span class="sr-only">Loading...</span>
</div>
<div *ngIf="!aliasesLoading">
  <ol>
    <ng-template ngFor let-alias [ngForOf]="aliasList">
      <li>
        <td>
          <div class="input-group">
            <input #aliasInput type="text" class="form-control" placeholder="Mailbox to set as alias"
            [ngModel]="alias"
            >
            <div class="input-group-append" id="button-addon4">
              <button class="btn btn-outline-primary" type="button" (click)="selectOperation(alias, aliasInput.value)">Set</button>
              <button class="btn btn-outline-danger" type="button" (click)="removeAlias(alias)" >Delete</button>
            </div>
          </div>
        </td>
      </li>
    </ng-template>
  </ol>
  <button type="button" class="btn btn-secondary" (click)="addNew()">Add</button>
</div>

<h4>Recent visitors of this mailbox</h4>
<p>Note that the times are in your local time zone and are only accurate to the hour.</p>
<table id="visitor-list" class="table" *ngIf="visitorList?.length">
  <thead class="thead-light">
    <tr>
      <th style="width: 30%;" class="d-none d-sm-table-cell">Date</th>
      <th style="width: 20%;" class="d-none d-sm-table-cell">IP</th>
      <th style="width: 50%;">User Agent</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-visitor [ngForOf]="visitorList">
      <tr>
        <td class="d-none d-sm-table-cell">{{visitor.timeStamp | date:"yyyy-MM-dd HH:mm:ss"}}</td>
        <td class="d-none d-sm-table-cell"><a rel="nofollow" href="https://whatismyipaddress.com/ip/{{visitor.ip}}">{{visitor.ip}}</a></td>
        <td>{{visitor.userAgent}}</td>
      </tr>
    </ng-template>
  </tbody>
</table>
