<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Mailnesia</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://mailnesia.com">Desktop Site</a>
      </li>
    </ul>
    <app-mailbox-navigation-form></app-mailbox-navigation-form>
  </div>
</nav>

<ul>
  <li>
    <a [routerLink]="['/settings', 'test']">
    test settings
    </a>
  </li>
  <li>
    <a [routerLink]="['/mailbox', 'test']">
    test mailbox
    </a>
  </li>
  <li>
    <a [routerLink]="['/mailbox', 'test', 12]">
    test email 12
    </a>
  </li>
</ul>

<router-outlet></router-outlet>
