<h1>Anonymous Email in Seconds
  <small class="text-muted">mailnesia.com</small>
</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-lg-4 col-xl-3 py-2">
      <div class="card h-100 bg-light">
        <div class="card-header">Automatically clicks registration links</div>
        <div class="card-body">
          <h4 class="card-title">Disposable email at its best.</h4>
          <p class="card-text">Whenever you need to register on a site and you don’t
            want to give out your primary email address, use any &#64;mailnesia.com address instead. <b>Email verification
              links are visited automatically</b> in the background to validate the account instantly!
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xl-3 py-2">
      <div class="card h-100 bg-light">
        <div class="card-header">HTML support</div>
        <div class="card-body">
          <h4 class="card-title">Fully featured webmail</h4>
          <p class="card-text">It’s like other webmail services, but there is <b>no registration or password here</b>.
            Every incoming email is accepted and can be viewed by anyone who knows the recipient name.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xl-3 py-2">
      <div class="card h-100 bg-light">
        <div class="card-header">RSS feed for every mailbox</div>
        <div class="card-body">
          <h4 class="card-title">Mobile friendly</h4>
          <p class="card-text">Avoid SPAM, unsolicited commercial email and newsletters by using a mailnesia.com
            <b>temporary email address</b> on websites, guestbooks, forums, when writing comments or whenever an email
            address is needed. Share your real email address only with people you know and trust.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xl-3 py-2">
      <div class="card h-100 bg-light">
        <div class="card-header">Aliases enhance anonymity</div>
        <div class="card-body">
          <h4 class="card-title">Assignable alias for every mailbox</h4>
          <p class="card-text"><b>Do not send any sensitive information here</b> (like financial, online banking)
            because anyone could read it after guessing your mailbox name!
          </p>
        </div>
      </div>
    </div>
  </div>

</div>