<h3>Mail for {{mailbox}}</h3>
<div id="loading" class="spinner-border" role="status" *ngIf="isLoading">
    <span class="sr-only">Loading...</span>
</div>
<div id="error" class="alert alert-danger" role="alert" *ngIf="emailListError">
    Error loading mail list!
</div>
<div id="no-mail" class="alert alert-info" role="alert" *ngIf="emailList==0">
    No emails
</div>
<table id="email-list" class="table" *ngIf="emailList?.length">
    <thead class="thead-light">
        <tr>
            <th>Date</th>
            <th>From</th>
            <th>To</th>
            <th>Subject</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let email of emailList">
            <td>{{email.date | date : 'long'}}</td>
            <td>{{email.from}}</td>
            <td>{{email.to}}</td>
            <td><a [routerLink]="['/mailbox', mailbox, email.id]">{{email.subject}}</a></td>
        </tr>
    </tbody>
</table>